.titlePrint {
    display: block;
    max-width: 1076px;
    max-height: 158px;
    font-family:  "Kis BT Roman";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
    color: #884234;
}