.controlButton {
    // border: 2px solid #884234;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    margin: 0 4px;
    // background: rgba(0, 0, 0, 0);
    background: #884234;
    display: flex;
    align-items: center;
    justify-content: center;
}