.targetList {
    // width: 70%;
    width: 1050px;
    max-height: 200px;
    padding: 10px;
    position: absolute;
    top: 65px;
    // left: 200px;
    z-index: 1;
    // background-color: #c04848;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    // flex-grow: 1 1 0;
    .targetList__left {
        width: 50%;
        // background-color: #7a6ad6;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .targetList__right {
        width: 50%;
        // background-color: #74c44e;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}