.targetListItem {
    width: fit-content;
    // background-color: #fff;
    font-family: 'Roboto-Light';
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #332B26;
    margin: 5px 0px;
    cursor: pointer;
}

.anatomicalTheater-anatomicalTheater-hover, .library1rdFloor-library1rdFloor-hover, .library2rdFloor-library2rdFloor-hover, .library3rdFloor-library3rdFloor-hover, .münzkabinet-münzkabinet-hover, .cabinetOfPeter1-cabinetOfPeter1-hover, .naturalia1ndFloor-naturalia1ndFloor-hover, .naturalia2ndFloor-naturalia2ndFloor-hover, .gallery-gallery-hover, .gottorpGlobe-gottorpGlobe-hover, .artifialia3rdFloor-artifialia3rdFloor-hover {
    text-decoration: underline;
    color: #884234;
}