.buttonMain {
    width: 232px;
    height: 54px;
    background: #884234;
    border-radius: 30px;
    font-family:  "Kis BT Roman";
    // @extend %fKiss;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    // .buttonMain:hover {
    //     background: rgba(136, 66, 52, 0.5);
    // }
}
.buttonMain-hover {
    &:hover {
        background: rgba(136, 66, 52, 0.5);
    }
}