.block-item {
    cursor: pointer;
}

.block__cabinetOfPeter1 {
    width: 140px;
    height: 53px;
}

.block__münzkabinet {
    width: 140px;
    height: 53px;
}

.block__artifialia3rdFloor{
    width: 100%;
    height: 54px;
}

.block__naturalia2ndFloor{
    width: 100%;
    height: 55px;
}

.block__naturalia1ndFloor{
    width: 100%;
    height: 53px;
}

.block__gottorpGlobe{
    width: 100%;
    height: 75px;
}

.block__gallery{
    width: 100%;
    height: 54px;
}

.block__anatomicalTheater{
    width: 100%;
    height: 55px;
}

.block__library3rdFloor {
    width: 100%;
    height: 56px;
}

.block__library2rdFloor {
    width: 100%;
    height: 55px;
}

.block__library1rdFloor {
    width: 100%;
    height: 56px;
}

.block__cabinetOfPeter1-cabinetOfPeter1-hover, .block__münzkabinet-münzkabinet-hover, .block__artifialia3rdFloor-artifialia3rdFloor-hover, .block__naturalia2ndFloor-naturalia2ndFloor-hover, .block__naturalia1ndFloor-naturalia1ndFloor-hover, .block__gottorpGlobe-gottorpGlobe-hover, .block__gallery-gallery-hover, .block__anatomicalTheater-anatomicalTheater-hover, .block__library3rdFloor-library3rdFloor-hover, .block__library2rdFloor-library2rdFloor-hover, .block__library1rdFloor-library1rdFloor-hover {
    background: rgba(#884234, 0.6);
}